%form{ class: 'login-form', action: 'save_result', method: 'post' }
  .form-group.text-center
    %form
      %h4 My Codebreaker!
      %p If you want to save result, input name:
      %input.feedback-input{name: 'name',
                            pattern: '^.*\S.*$', 
                            placeholder: 'Enter your name...',
                            type: 'text',
                            autofocus: 'true',
                            required: 'true',
                            value: 'Anonymous' }/
      %input{:type => "submit", :value => "Save Result"}
