%form{ class: 'login-form', action: 'game', method: 'post' }
  .form-group.text-center
    %form
      %h4 Welcome to My Codebreaker!
      %p If you want to play the game:
      %input.feedback-input{name: 'name',
                            pattern: '^.*\S.*$', 
                            placeholder: 'Enter your name...',
                            type: 'text',
                            autofocus: 'true',
                            required: 'true' }/
      %input{:type => "submit", :value => "PLAY"}
