<!DOCTYPE html>
<html>
  <head>
    <title>CodeBreaker</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/wired-elements@latest/dist/wired-elements.bundled.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>