%a.modal-trigger{:href => "#modal_rules"} Rules
#modal_rules.modal
  .modal__dialog
    %section.modal__content
      %header.modal__header
        %h2.modul__title Rules
        %a.modal__close{:href => "#"} &#10005;
      .modal__body
        %p.modal__text
          The code-breaker then gets some number of chances to break the code.In each turn, the code-breaker makes a guess of four numbers.The code-maker then marks the guess with up to four + and - signs.
          %br
            You have #{@total_attempts} attempts attempts and game answers with up to four pluses and minuses.
            %ul
              %li
                + (plus) indicates an exact match:
                %br
                  one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.
                %li
                  \- (minus) indicates a number match:
                  %br
                    one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.
                  %h3 Tips  Tricks
                  HINTS: type 'h' and game will show one  number from code to you
              %footer.modal__footer
                %a.modal__link{:href => "#"} Ok, I've read