<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <script src="https://unpkg.com/wired-elements@latest/dist/wired-elements.bundled.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id='main_container'>
      <wired-card>
        <div id='container'>
          <h1>You said '<%= word %>'</h1>
          <p>Say something new</p>
          <form method="post" action="/update_word">
            <wired-input><input name="word" type="text"></wired-input>
            <%# <wired-input name="word" placeholder="Enter word" type="text"></wired-input> %>
            <wired-button type="submit" value="Say!">Say!</wired-button>
            <%# <wired-button id="btn" type="submit" value="Say!">Say!</wired-button> %>
          </form>
        </div>
        <div id="container">
          <h1>You said '<%= word %>'</h1>
            <p>Say somthing new</p>
          <form method="post" action="/update_word">
            <input name="word" type="text">
            <input type="submit" value="Say!">
          </form>
        </div>
      </wired-card>
    </div>
  </body>
</html>