%head
  %meta{ charset: 'utf-8' }
  %title CodeBreaker
  %link{ rel: 'shortcut icon', href: './img/favicon/favicon.ico', type: 'image/x-icon' }
    %link{ rel: 'stylesheet', href: './css/application.css', type: 'text/css' }
  